.activities{
/*    background: red;*/
}

.activities-report-card {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    /*text-align: center;*/
    background-color: #fff;
}
